.content-notification {
  margin-left: 85px;
  padding: 20px;
  transition: margin-left 0.4s ease;
}
.notification-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.notification-item {
  padding: 15px;
  border-bottom: 1px solid #cccaca;
  background-color: #f2f2f2;
}

.notification-item:hover {
  background-color: #e4e2e2;
}

.notification-item.read {
  background-color: #f2f2f2;
  color: gray;
}

.scrollable-notifications {
  max-height: 750px;
  overflow-y: auto;
  padding-right: 10px; 
  scrollbar-width: thin;
  scrollbar-color: gray #f2f2f2; 
  opacity: 0.9;
}

.scrollable-notifications::-webkit-scrollbar {
  width: 1px; 
  opacity: 1;
}

.scrollable-notifications::-webkit-scrollbar-thumb {
  background-color: #0d4976; 
  border-radius: 2px;
  opacity: 1;
}

.scrollable-notifications::-webkit-scrollbar-track {
  background-color: #f2f2f2; /* Background color of the scrollbar track */
  opacity: 1;
}

.notification-item.unread {
  color: black;
}

.notification-time {
  font-size: 12px;
  color: #888;
  margin-top: 5px;
}

.no-notifications {
  text-align: center;
  color: #888;
}

h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

.filter-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.filter-button {
  padding: 5px 10px;
  background-color: #0d4976;
  cursor: pointer;
  border-radius: 5px;
}

.filter-button.active {
  background-color: #031527;
  color: #fff;
}
