/* Truncate text with ellipsis */
.truncate-text {
    max-width: 122px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .files-tab-content {
    padding: 20px;
  }
  
  .upload-section {
    margin-bottom: 20px;
  }
  
  .upload-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  .upload-btn input {
    display: none;
  }
  
  .file-list {
    width: 100%;
    border-collapse: collapse;
  }
  
  .file-list table {
    width: 100%;
    border: none; /* Removed border */
    
  }
  
  .file-list th,
  .file-list td {
    padding: 1px;
    text-align: left;
    border: none; /* Removed border */
    height: 40px; /* Set the height for each table row */
    
  }
  
  .file-list th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  .file-list tr:hover {
    background-color: #c1c1c1;
  }
  
  /* Style for the action button */
  .action-file {
    background: none;
    border: none;
    cursor: pointer;
    color: #007bff;
    font-size: 20px;
  }
  
  .action-file:hover {
    color: transparent;
  }


  .file-actions {
    display: flex;
    flex-direction: column;
  }
  
  .edit-file,
  .delete-file {
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
  }
  
  .edit-file:hover,
  .delete-file:hover {
    background-color: #f0f0f0;
  }
  
  .delete-file {
    color: red;
  }
  
  
  