
.container {
    display: flex;
    height: calc(100vh - 60px); 
}

.left-side {
    flex: 1;
    display: flex;
    flex-direction: column; /* Stack logo and text */
    align-items: flex-start;
    justify-content: center;
    padding: 0 80px;
    box-sizing: border-box;
}

.left-side > div {
    margin-top: -150px;
}

.logo-container {
    margin-bottom: 50px;
    position: relative;
    top: -100px;
}

.left-side h2 {
    font-size: 56px;
    margin-bottom: 20px;
    color: BLACK;
}

.left-side p {
    font-size: 28px;
    color: #555;
}

.right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper .remember-forgot input[type="checkbox"] {
    margin-right: 10px;
}

.wrapper {
    width: 550px;
    background: white;
    color: BLACK;
    border-radius: 12px;
    padding: 50px 60px;
    margin-bottom: 30px;
}

.wrapper h1 {
    font-size: 45px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 70px;
    margin: 25px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(103, 100, 100, 0.3);
    border-radius: 50px;
    font-size: 22px;
    color: rgb(0, 0, 0);
    padding: 25px 60px 25px 40px;
}

.input-box input::placeholder {
    color: rgb(82, 79, 79);
    font-size: 20px;
}

.input-box .icon {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: 15px 0 30px;
}

.wrapper button {
    width: 100%;
    height: 60px;
    background: #395176;
    border: none;
    outline: none;
    border-radius: 50px;
    box-shadow: 0 0 12px rgba(95, 89, 89, 0.3);
    cursor: pointer;
    font-size: 22px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.wrapper button:hover {
    background: #5599CB;
    box-shadow: 0 0 15px rgba(95, 89, 89, 0.5);
}

.wrapper .register-link {
    font-size: 20px;
    text-align: center;
    margin: 30px 0 25px;
}

/* Styling for Forgot Password link */
.remember-forgot a {
    color: #333; 
    text-decoration: none; 
    font-weight: 600;
}

.remember-forgot a:hover {
    text-decoration: underline; 
}

.register-link p a {
    color: rgb(36, 36, 36);
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

.logo {
    max-width: 250px;
    height: auto;
}

/* Footer styles */
footer {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color:transparent;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
}

footer p {
    margin: 5px 0;
    color: #333;
}

footer a {
    color: #333; 
    text-decoration: none; /* Remove underline */
}

footer a:hover {
    text-decoration: underline; 
}


