

/* Style for the "+" Button */
.add-button {
  color: white;
  border-radius: 50%;
  min-width: 40px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

/* Style for the Box that contains the Button and Menu */
.menu-container {
  display: flex;

}

span:hover {
  
  color: #02121d;
}
