.consultation-content {
  display: flex;
  flex-direction: column; /* Stack appointments and calendar vertically on smaller screens */
  gap: 1px;
  font-size: 0.90rem; 
}

.appointments-and-calendar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.appointments-details {
  display: flex;
  flex-direction: column;
  height: 75vh; /* Make it match the calendar height */
  overflow: hidden; /* Prevent entire container from scrolling */
}

.appointments-details ul {
  list-style: none;
  padding: 0;
}

.appointment-item {
  margin-bottom: 10px;
  justify-content: space-between; 
  align-items: center; 
  border-bottom: 1px solid #eaeaea; 
  color: #090909; 
}

.appointment-item:last-child {
  border-bottom: none; /* Remove border for the last item */
}

.appointment-item p {
  margin: 0;
  font-size: 0.85rem; 
  color: #0a0a0a; 
}

/* upcoming and completed button */
.upcoming-appointments,
.completed-appointments {
  margin: 10px 0; /* Spacing between sections */
  border-radius: 5px;
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: calc(75vh - 60px); /* Adjust for header/margins if needed */
}
.upcoming-appointments button,
.completed-appointments button {
  color: rgb(9, 9, 9);
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  background-color: #f6f6f6  ;
}

/* Button new appointment */
.new-appointment-button {
  display: inline-block; 
  text-decoration: none; 
  transition: all 0.3s ease; 
  color: black;
}
.new-appointment-button  {
  transition: color 0.3s ease; 
}

.new-appointment-button:hover {
  color: #100933; 
}
.new-appointment-button button:active {
  transform: scale(1);
}


